doctype html
html(lang="ru")
head
    title #{title}
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/styles.css')
body
    div.content
        form&attributes({'method': 'post', 'action': '/users'})
            input.item&attributes({'type': 'text', 'name': 'name', 'placeholder': 'Пользователь'})
            button.item&attributes({'type': 'submit'}) Проверить
